<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="animate.min.css">
    <link rel="stylesheet" href="style/style.css">


    <title>iThrift</title>
</head>
<body >
       
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navy shadow-lg p-3 mb-5 bg-body-tertiary rounded fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text" href="index.html"><h1 class="fs-1 text-warning animate__animated animate__zoomInLeft" >iThrift</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text" aria-current="page" href="index.html">Home</a>
          </li>
      <li class="nav-item dropdown">
            
          <li class="nav-item">
            <a class="nav-link text text" href="demo.html">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
        
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              
            </ul>
          </li>
         
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success text m-2" type="submit">Search</button>
        </form>
        <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          sign in
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          sign up
        </button>
      </div>
    </div>
  </nav>
        </div>
        <div class="row">
            <div class="col">
              <div id="banner">
                  <img src="images/carou.jpg" alt="" id="banner" class="shadow bg-body-tertiary rounded img-fluid">
              </div>
                
            </div>
        </div>
     </div>
    </div>
       <div class="row">
          <div class=" offset-3 col-6">
              <div class="neg shadow bg-body-tertiary rounded ">
                    <h1 class="fs-1 text-center nom p-1">About Us</h1>
                    <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quibusdam, quae sint perferendis quasi quod facere dolorem culpa tenetur minus ducimus, earum et temporibus veritatis voluptatibus eaque. Neque, assumenda mollitia!
                    Facilis ipsum quaerat aspernatur consequatur labore fuga nostrum eos provident ut itaque nisi nesciunt quidem, omnis, recusandae maxime. Cumque facere dolor ex delectus neque excepturi tenetur quas, adipisci repudiandae hic.
                    Voluptatibus, eum deserunt porro distinctio id magni, aperiam veritatis animi libero atque placeat quidem recusandae architecto, exercitationem cum consectetur saepe ratione repellat! Esse quibusdam mollitia quidem maxime eum similique ab!
                    Perferendis, consequuntur quibusdam! Earum mollitia minima doloremque ad, similique assumenda. Excepturi dicta delectus ipsum corporis! Esse, perferendis quidem recusandae itaque incidunt fugiat rem voluptates, possimus, non voluptate omnis fuga totam!
                    Blanditiis placeat et veritatis neque totam, quasi quibusdam officia nobis distinctio, autem porro aliquid. Voluptates, voluptatum! A aliquam, rerum quam velit fuga itaque laborum voluptates quasi sapiente, hic delectus quos?

                    </p>
              </div>
          </div>
       </div>


               <div >
          <div class="row d-flex">
            <div class="col-2 offset-1 d-flex">
              <div class="shadow bg-body-tertiary rounded opt ">
                    <h1 class="fs-1 text-center nom p-1">Register now</h1>
                    
              </div>
            </div>
              <div class="  col-2 offset-1 d-flex">
                <div class="shadow bg-body-tertiary rounded opt">
                      <h1 class="fs-1 text-center nom p-1">Login right now</h1>
                      
                </div>
              </div>
                <div class="d-flex  offset-1 col-2">
                  <div class="shadow bg-body-tertiary rounded opt">
                        <h1 class="fs-1 text-center nom p-1">iTHRIFT</h1>
                        
                  </div>
                </div>

                  <div class="offset-1  d-flex col-2">
                    <div class="shadow bg-body-tertiary rounded opt ">
                          <h1 class="fs-1 text-center nom p-1">iTHRIFT</h1>
                          
                    </div>
                   
                  </div>
        </div>




    

   <script src="script/jquery.js"></script>
</body>
</html>